[submodule "pack/vendor/opt/Tsuquyomi"]
	path = pack/vendor/opt/Tsuquyomi
	url = https://github.com/Quramy/tsuquyomi.git
[submodule "pack/vendor/start/solarized"]
	path = pack/vendor/start/solarized
	url = https://github.com/altercation/vim-colors-solarized
[submodule "pack/vendor/start/nerdtree"]
	path = pack/vendor/start/nerdtree
	url = https://github.com/scrooloose/nerdtree
[submodule "pack/vendor/start/indentLineOD"]
	path = pack/vendor/start/indentLineOD
	url = https://github.com/yggdroot/indentline
[submodule "pack/vendor/start/tcomment"]
	path = pack/vendor/start/tcomment
	url = https://github.com/tomtom/tcomment_vim
[submodule "pack/vendor/start/neoformat"]
	path = pack/vendor/start/neoformat
	url = https://github.com/sbdchd/neoformat
[submodule "pack/vendor/start/tagbar"]
	path = pack/vendor/start/tagbar
	url = https://github.com/majutsushi/tagbar
[submodule "pack/vendor/opt/vue"]
	path = pack/vendor/opt/vue
	url = https://github.com/posva/vim-vue
[submodule "pack/vendor/start/airline"]
	path = pack/vendor/start/airline
	url = https://github.com/vim-airline/vim-airline
[submodule "pack/vendor/start/airline-themes"]
	path = pack/vendor/start/airline-themes
	url = https://github.com/vim-airline/vim-airline-themes
[submodule "pack/vendor/start/ctrlp"]
	path = pack/vendor/start/ctrlp
	url = https://github.com/ctrlpvim/ctrlp.vim
[submodule "pack/vendor/start/ack"]
	path = pack/vendor/start/ack
	url = https://github.com/mileszs/ack.vim.git
[submodule "pack/vendor/opt/ts-vim"]
	path = pack/vendor/opt/ts-vim
	url = https://github.com/leafgarland/typescript-vim
